@import "tailwindcss";

.rfm-marquee-text {
  @apply whitespace-nowrap;
  animation: marquee 40s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
